<!DOCTYPE html>
<html ng-app="listaTelefonica">
    <meta charset="UTF-8">
	<head>
		<title>Lista Telefônica</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	    <style>
		    .jumbotron {
			    width: 500px;
			    text-align: center;
			    margin-top: 20px;
			    margin-left: auto;
			    margin-right: auto;
                padding-left: 10px;
                padding-right: 10px;
				border-radius: 5%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		    }
		    .table {
			   margin-top: 20px;
		    }
		    .form-control {
			    margin-bottom: 5px;
		    }
			.selecionado {
				background-color: #78909c;
				color: white;
			}
			.negrito {
				font-weight: 800;
			}
			hr {
				border-color: #999;
				border-width: 3px;
			}
	    </style>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-messages.js"></script>
		<script>
			angular.module("listaTelefonica", ["ngMessages"]);
			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
                            $scope.app = "Lista Telefônica";
                            $scope.contatos = [
											{nome: "Luzia", telefone: "988881111", data: new Date(), operadora: {nome: "Oi", codigo: 14, categoria: "celular"} },
											{nome: "Madalena", telefone: "988882222", data: new Date(), operadora: {nome: "Vivo", codigo: 15, categoria: "celular"} },
											{nome: "Ester", telefone: "988883333", data: new Date(), operadora: {nome: "Tim", codigo: 41, categoria: "fixo"} },
                                        ];
                            $scope.operadoras = [
                                            {nome: "Oi", codigo: 14, categoria: "celular", preco: 2},
                                            {nome: "Vivo", codigo: 15, categoria: "celular", preco: 1},
                                            {nome: "Tim", codigo: 41, categoria: "fixo", preco: 4},
                                            {nome: "Embratel", codigo: 21, categoria: "fixo", preco:1},
                                            {nome: "Claro", codigo: 12, categoria: "fixo", preco:3},
                                        ];
				            $scope.adicionarContato = function (contato) {
										$scope.contato.data = new Date();
									    $scope.contatos.push(angular.copy(contato));
									    delete $scope.contato;
										$scope.contatoForm.$setPristine();
                                        };
							$scope.apagarContato = function (contatos) {
									    $scope.contatos = contatos.filter( function (contato) {
														if (!contato.selecionado) return contato;
													});
                                        };
							$scope.isContatoSelecionado = function (contatos) {
											return contatos.some( function (contato) {
														return contato.selecionado;
													});
										};
							$scope.ordenarPor = function (campo) {
											$scope.criterioDeOrdenacao = campo;
											$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
										};
						});
		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
			<h3>{{app}}</h3>
			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
            <table ng-show="contatos.length > 0" class="table">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
					<th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
					<th><a href="" ng-click="ordenarPor('data')">Data</a></th>
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                    <td> <input type="checkbox" ng-model="contato.selecionado" /></td>
					<td>{{contato.nome | uppercase}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome | lowercase}}</td>
					<td>{{contato.data | date:'dd/MM/yyyy'}}</td>
				</tr>
			</table>
			<hr />
			<form name="contatoForm">
				<input class="form-control" name="nome" type="text" placeholder="Nome" ng-model="contato.nome" ng-required="true" ng-minlength="5" />
				<input class="form-control" name="telefone" type="text" placeholder="Telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
    	        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' for operadora in operadoras | orderBy:'nome'">
        	        <option value="">Selecionar Operadora</option>
            	</select>
				<div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
					<div ng-message="required" class="alert alert-danger">
					    Por favor, preencha o nome.
				    </div>
	    			<div ng-message="minlength" class="alert alert-danger">
						O nome dever pelo menos 5 caracteres.
					</div>
				</div>
				<div ng-show="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error">
					<div ng-message="required" class="alert alert-danger">
					    Por favor, preencha o telefone.
		    		</div>
		    		<div ng-message="pattern" class="alert alert-danger">
						O campo telefone deve ter o formato DDDDD-DDDD
					</div>
				</div>
			</form>
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-required="true" ng-disabled="contatoForm.$invalid">
				Adicionar contato
			</button>
			<button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">
                Apagar contato
            </button>
		</div>
		<div ng-include="'footer.html'"></div>
	</body>
</html>